body {
    background-image: linear-gradient( 115deg, rgba(87, 187, 87, 0.8), rgba(52, 45, 189, 0.7) ), url(./pexels-thisisengineering-3861969.jpg);
    font-family: 'Lora', serif;
    font-size: 20px;
    color: white;
}

h1 {
    text-align: center;
    color: white;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    background-color: -moz-linear-gradient(rgb(146, 119, 119));
    margin-left: 230px;
    margin-right: 230px;
    padding-bottom: 80px;  
    overflow-wrap: break-word;
    
    border-radius: 6px;
   
}
#email {
  width: 300px;
  height: 23px;
  border-radius: 4px;
  border-color: none;
}

#name {
  width: 300px;
  height: 23px;
  border-radius: 4px;
}

#company {
  width: 300px;
  height: 23px;
  border-radius: 6px;
}
#dropdown {
  
  width: 305px;
  height: 33px;
  border-radius: 6px;
}
#comments {
  width: 300px;
  height: 80px;
  border-radius: 6px;
}
.labels {
    
    text-align: right;
    margin-top: 10px;
    border-radius: 6px;
}

.right-side {
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;
    margin-left: 105%;
    margin-bottom: 5px;
    align-items: right;
    white-space: nowrap;
    position: relative;
    bottom: 20px;
    
}

.gap {
    background-color: white;
}
h2 {
    text-align: center;
    margin-left: 230px;
    margin-right: 230px;
    height: 40px;
    margin-bottom: 10px;
    padding-top: 15px;
    color: white;
    
}

#submit {
  background-color: rgba(87, 187, 87, 0.8);
  border-radius: 4px;
  color: white;
  font-size: 1em;
  height: 40px;
  width: 96px;
  margin: 10px;
  border: 0px solid;
  margin-left: 93%;
  position: relative;
  top: 50px;
  
  }

.normal {
    overflow-wrap: normal;
}

.special {
    position: relative;
    bottom: 18px; 
}

